{% extends "base.html" %} {% block content %}
<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Page Title</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<div class="float-container">

    <div class="float-child">
        <h2 class="a">Uploaded Image</h2>
      <div class="green"><img src="{{ url_for('upload_img', filename=file_name) }}" class="img-fluid"></div>
    </div>
    
    <div class="float-child">
        <h2 class="a">OutPut Image</h2>
      <div class="blue"><img src="{{ url_for('cartoon_img', filename=cartoon_file) }}" class="img-fluid"></div>
    </div>
    

   
  </div>
 

{% endblock %}